* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  margin: 5px;
  padding: 5px 10px;
}

.buttons {
  text-align: center;
}
