* {
  margin: 0;
  padding: 0;
}

.primeira-secao {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  padding: 40px;
}

.menu {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.primeira-secao img {
  width: 100%;
  max-width: 15%;
  margin-bottom: 10px;
}

.segunda-secao {
  text-align: center;
  margin: 20px;
}

.terceira-secao {
  text-align: center;
}

.terceira-secao img {
  width: 100%;
  max-width: 35%;
}

p {
  text-align: justify;
  margin: 0 250px;
}
